* {
  font-size: 14px;
  font-family: Roboto, Helvetica, sans-serif;
}

.app {
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.logo {
  font-size: 30px;
  font-weight: 600;
}

.blue {
  color: #0290ff;
}

.f-blue {
  color: #4386bf;
}
