.default {
  background-color: #009688;
  color: white;
}

.secondary {
  color: #009688;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dialog {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-group {
  width: fit-content;
  margin: auto;
  padding: 5px;
}

.radio-group input {
  margin: 15px;
}

label {
  font-weight: 600;
}

a {
  color: black;
  text-decoration: none;
}

.row-max {
  max-width: 300px;
  padding: 12px;
  margin: auto;
}

.nav {
  max-width: 600px;
  margin: auto;
}

.drug {
  max-width: 600px;
  margin: 20px auto;
  padding: 1px 10px;
  border-radius: 5px;
}

.tab-content > .active {
  transition: 1s;
}
